@import "~/src/scss/index.scss";

$widthLeftMenu: 250px;

.admin-layout{
    display:flex;
    min-height: 100vh;
    max-height: 300vh;
    background-color:#ffff;

    &__left{
        background-color: $background-dark;
        width: $widthLeftMenu;
        .logo{
            height: 45px;
            width: 95%;
            margin: 10px 0;
        }
    }
    
    &__right{
        width: calc(100% - $widthLeftMenu);
        &-header{
            background-color:$background-dark;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0 10px;
        }
        &-content{
            position: relative;
            margin: 20px;
        }
    }
}