.imagen-perfil {
    justify-content: center;
    align-items: center;
    font-size: 80px; 
    text-align: center;
}


.imagen-perfil h2 {
    margin-top: 30px;
    font-size: 30px;
    text-align: left;
}

.imagen-perfil h1 {
    margin-top: 30px;
    font-size: 30px;
}

.datos-personales{
    font-size: 20px;
}

