@import "~/src/scss/index.scss";

.footer-newsletter{
    width: 33.33%;
    padding-left: 20px;
    >h4{
        color:#000000;
        margin-bottom: 20px;
    }
    .success{
        color:#843747;
        text-align: center;
        font-size: 12px;
    }
}