


.princ-page{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    h1{
        color: #0081c1;
        display: flex;
        line-height: 55px;
        font-size: 80px;
        justify-content: center;
    } 
    h2{
        color: #0081c1;
        display: flex;
        line-height: 40px;
        font-size: 40px;
        justify-content: center;
    }
    h3{
        color: #000000;
        display: flex;
        line-height: 20px;
        font-size: 20px;
        justify-content: left;
        margin-top: 20px;
    }
    h4{
        color: #000000;
        display: flex;
        line-height: 20px;
        font-size: 20px;
        justify-content: center;
        margin-top: 20px;
    }
}