.cotizacion-item {
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid #867f81;
    margin-bottom: 10px;
    padding-bottom: 10px;

    &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
        border: 0;
    }

    &__info {
        display: flex;
        flex-direction: column;

        &-dxp {
            font-weight: bold;
        }

        &-cliente {
            opacity: 0.6;
        }
    }

    // Media Queries for Responsiveness
    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: flex-start;

        &__info {
            margin-bottom: 10px;

            &-dxp {
                font-size: 16px; // Adjust font size for medium screens
            }

            &-cliente {
                font-size: 14px; // Adjust font size for medium screens
            }
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;

        &__info {
            margin-bottom: 8px;

            &-dxp {
                font-size: 14px; // Adjust font size for small screens
            }

            &-cliente {
                font-size: 12px; // Adjust font size for small screens
            }
        }
    }

    @media (max-width: 480px) {
        flex-direction: column;
        align-items: flex-start;

        &__info {
            margin-bottom: 6px;

            &-dxp {
                font-size: 12px; // Adjust font size for very small screens
            }

            &-cliente {
                font-size: 10px; // Adjust font size for very small screens
            }
        }
    }
}
