.cotizacion-item{
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid #867f81;
    margin-bottom: 10px;
    padding-bottom: 10px;

    &:last-of-type{
        margin-bottom: 0;
        padding-bottom: 0;
        border: 0;
    }
    &__info{
        display: flex;
        flex-direction: column;
        &-dxp{
            font-weight: bold;
        }
        &-cliente{
            opacity: 0.6;
        }
    }
}