@import "~/src/scss/index.scss";

.ui.menu.admin-menu {
    width: 100%;
    padding: 0;

    > .item {
        display: flex;
        align-items: center;
        color: #637080;
        padding: 15px 20px !important;
        margin: 0 !important;
        border-radius: 0 !important;

        &:hover,
        &.active,
        &.active:hover {
            color: #ffffff;
            background-color: #0081c1;
        }

        > i {
            margin: 0 !important;
            margin-right: 10px !important;
        }
    }

    .dropdown {
        width: 100%; 
        .text {
            font-weight: bold;
        }
        .dropdown.icon {
            float: right; 
            margin-left: 5px !important;
        }
    }
    .menu {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
        margin-top: 4px;

        .item {
            color: #f4f9fd; 

            &:hover,
            &.active,
            &.active:hover {
                color: #ffffff;
                background-color: #0081c1;
            }
        }
    }
}
