@import "~/src/scss/index.scss";

.auth {
    background-color: #f1f1f1c9;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%; // Ajuste el padding con unidades relativas
    .logo {
        padding:-10px;
        height: 130px;
        margin-bottom: -2%;
        padding-right: 195px;
    }

    &_forms {
        width: 30vw; // Ancho del formulario en viewport width
        .ui.menu {
            padding: 0vh 0;
            .item {
                width: 50%;
                justify-content: center;
                background-color: #ffffffaf !important;
                border-radius: 11px !important;
                border-top: 2vh solid $border-grey !important; // Ajusta el tamaño del borde en viewport height
                font-size: 2vh; // Tamaño de fuente en viewport height
                &.active {
                    font-weight: normal;
                    border-radius: 5px !important;
                    border-top-color: $primary !important;
                }
            }
        }
    }

    .crsl {
        width: 50vw; // Ancho del carousel en viewport width
        .carousel .slide {
            background: none; // Elimina el fondo predeterminado del carrusel
        }
        .carousel-image {
            width: 100%;
            height: auto; // Ajuste para mantener la proporción de la imagen
            max-height: 80vh; // Ajuste máximo de altura para imágenes
            object-fit: contain; // Ajuste para que la imagen contenga dentro del div
        }
    }

    .sidebar {
        flex: 1;
        padding-top: 10vh; // Padding superior en viewport height
    }

    .content {
        flex: 1;
        width: 25vw; // Ancho en viewport width
        text-align: center;
    }

    // Media query para ajustes adicionales en tamaños de pantalla más pequeños
    @media (max-width: 768px) {
        flex-direction: column; // Cambia la dirección del flex para dispositivos pequeños
        .logo {
            margin-bottom: 5vh; // Añade margen inferior en viewport height
        }

        .content, .sidebar, .crsl, &_forms {
            width: 90vw; // Ancho en viewport width para dispositivos pequeños
            margin: auto; // Centra los elementos
        }
    }
}
