@import "~/src/scss/index.scss";

.auth{
    background-color: #bad6ec9a;
    min-height: 100vh;
    background-position: center;
    background-size:cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;

    .login{
        width: 500px;
        margin-bottom: 300px;
        
    }

    .logo{
        margin-top: 70px;
    }

    &_forms{
        width: 450px;
        .ui.menu{
            .item{
                width: 50%;
                justify-content:center;
                background-color:#ffffffaf !important;
                border-radius: 11px !important;
                border-top: 10px solid $border-grey !important;
                font-size: 16px;
                &.active{
                    font-weight: normal;
                    border-radius: 5px !important;
                    border-top-color: $primary !important;
                }
            }           
        }
    }
}